.container{
    width: 100%;
}
.to-do-wrapper{
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.btn-to-do{
    margin-top: 1rem;
}
.error{
    color: red;
}
.list-item{
    background: #6c626273;
    padding: 1rem 0rem;
    margin: 2% 25%;
    list-style: none;
}